.main {
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #46494d;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.switcher {
  cursor: pointer;
  padding: 0.5rem;
}

.switcher:hover {
  color: #7e8792;
}
