.main {
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  perspective: 3000px;
  display: flex;
  justify-content: center;
}

.linksContainer {
  position: relative;
  width: 60vw;
  height: 100%;
}

.logo {
  color: var(--fake-black);
  height: 100px;
  fill: var(--off-white);
  padding: 1rem;
  border-radius: 40px;
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  font-size: 4rem;
  overflow: hidden;
  background: var(--dark-blue);
  border: 3px solid var(--fake-black);
}

.logo > svg {
  width: 100px;
  height: 100%;
}

.twitter {
  top: 100px;
  left: 0;
  transform: rotate(-5deg);
}

.tumblr {
  top: 400px;
  left: 20%;
  background: var(--nice-yellow);
  transform: rotate(7deg);
}

.email {
  right: 0;
  top: 250px;
  background: var(--tomato);
  transform: rotate(15deg);
}
