.main {
  padding: 4rem;
  /* height: 90vh;
  overflow-y: scroll; */
  margin: 5vh 2rem;
  /* background: #fff1e8; */
  position: relative;
}

.header {
  font-size: 10vw;
}

.subheader {
  font-size: 3vw;
  font-style: italic;
}

.content {
  font-size: 2vw;
  display: flex;
}
