.main {
  padding: 4rem;
  margin: 5vh 2rem;
  position: relative;
}

.header {
  font-size: 10vw;
}

.subheader {
  font-size: 3vw;
  font-style: italic;
}

.content {
  font-size: 2vw;
  display: flex;
}

@media(max-width: 800px) {
  .main {
    padding: 2rem;
    margin: 2vh 1rem;
  }

  .header, .subheader {
    text-align: center;
  }

  .content {
    padding: 2rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;
  }
}
