.container {
  display: inline-flex;
  justify-content: space-between;
  gap: clamp(0.5rem, 1vw, 2rem);
  width: 100%;
  padding: 1rem 30%;
  font-size: clamp(0.75rem, 2vw, 1.5rem);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100;
}

.link {
  position: relative;
  color: #fff1e8;
  padding: 0.25rem 1.5rem;
  display: block;
}

.name {
  z-index: 10;
  position: relative;
}

.pill {
  position: absolute;
  background: var(--off-white);
  inset: 0;
}

.focus {
  color: var(--light-blue);
}

.unfocus:hover {
  color: #ddcabe;
}

@media(max-width: 700px) {
  .container {
    justify-content: space-around;
    gap: 1rem;
  }
}
