.container {
  display: inline-flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  padding: 1rem 30%;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100;
}

.link {
  position: relative;
  color: #fff1e8;
  padding: 0.25em 0.75em;
}

.link > span {
  position: relative;
  z-index: 10;
}

.pill {
  position: absolute;
  background: var(--off-white);
  inset: 0;
}

.focus {
  color: var(--light-blue);
}

.unfocus:hover {
  color: #ddcabe;
}

@media(max-width: 800px) {
  .container {
    font-size: 1rem;
    justify-content: center;
    gap: 1rem;
  }
}
